<%- include('../partials/header') -%>
<div class="container">
  <div class="row">
    <div style="width:30%; margin : 10% auto">
      <h1 style="text-align:center">Edit Campground <%= camp.name %></h1>
      <form action="/campsground/<%= camp._id %>?_method=PUT" method="post">
        <div class="form-group">
          <input type="text" class="form-control" name="name" value="<%= camp.name%>">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="image" value="<%= camp.image%>">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="description" value="<%= camp.description%>">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Update your Campground</button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('../partials/footer') -%>
